<table>
  <tr>
    <th>団体コード</th>
    <th>団体名</th>
  </tr>
  <% @accounts.each do |account| %>
    <tr>
      <td>
        <%= account.organization.id %>
      </td>
      <td>
        <%= link_to account.organization.name, select_org_sessions_path(:id => account.organization.id) %>
      </td>
    </tr>
  <% end %>
</table>
