<h1>受信者編集完了</h1>
<span style="color:green"><pre><%= flash[:notice] %></pre></span>
<%= render :partial => "/share/recipient/recipient_detail", :locals => {:recipient => @account.recipient} %>
<br />

  