<table>
  <tr>
    <td class="userflow_td3">団体<br />登録</td>
    <td class="userflow_td2">></td>
    <td class="userflow_td3">団体<br />登録確認</td>
    <td class="userflow_td2">></td>
    <td class="userflow_td1">団体<br />仮登録完了</td>
    <td class="userflow_td2">></td>
    <td class="userflow_td3">団体仮登録<br />完了メール</td>
    <td class="userflow_td2">></td>
    <td class="userflow_td3">団体<br />本登録完了</td>
  </tr>
</table>
<h2>団体仮登録完了</h2>

<p>仮登録が完了しました。
    ご登録のメールアドレスに、本登録完了画面のURLの入ったメール送信しましたのでメールを確認し、
    本登録を完了させて下さい。
</p>
